/* Made by Siddharth */
body {
    background: linear-gradient(45deg, rgb(3, 3, 224), rgb(164, 1, 164));
    color : whitesmoke;
}
.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 600px;
    min-width: 260px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(255, 255, 255);
    background: linear-gradient(45deg, rgb(201, 2, 201), blue);
}
h1 {
    border: 2px solid whitesmoke;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(45deg, blue, rgb(247, 2, 247));
    box-shadow: 3px 3px 10px whitesmoke;
    animation: transform 2s ease-in-out infinite;
    cursor: pointer;
}
@keyframes transform {
    0%{transform:translateY(-20px);color: greenyellow;}
    50%{transform:translateY(0px); color: paleturquoise;}
    100%{transform:translateY(-20px); color: burlywood;}
}

.container:hover {
    box-shadow: 3px 3px 20px white;
}
.main {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px;
}
label {
    opacity: 0.6;
}
input {
    margin-left: 15px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
input:hover {
    box-shadow: 3px 3px 20px white;
}
#bmi {
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 15px;
}
#Calculate {
    margin-left: 15px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
    background-color: rgb(144, 206, 52);
    cursor: pointer;
}
#Calculate:hover {
    box-shadow: 3px 3px 20px white;
}
#Calculate:active {
    background: linear-gradient(45deg, rgb(0, 0, 255), rgb(252, 1, 252));
    color: white;
}
.footer {
    padding: 10px 0;
}
.container:hover {
    box-shadow: 3px 3px 20px white;
}